<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./style-2.css">
		<script type="text/javascript">
		  WebFontConfig = {
		    google: { families: [ 'Raleway:600,400:latin' ] }
		  };
		  (function() {
		    var wf = document.createElement('script');
		    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		    wf.type = 'text/javascript';
		    wf.async = 'true';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(wf, s);
		  })();
		</script>
	</head>
  <body>
  	<a class="header" href="/">VoiceMash</a>
  	<div class="loader">Loading...</div>
		<div class="script">
			<script type="text/javascript" src="script/jquery-2.1.4.min.js"></script>
			<script type="text/javascript" src="script/view.js"></script>
		</div>
  </body>
</html>
